/* Primary: #000000 
Secondary: #333333  or #040D12
Primary: #FFFFFF 
Secondary: #F2F2F2 
Primary: #6A0DAD 
Secondary: #9A6ECC  */

html,
body {
  height: 100%;
}

body {
  width: 100%;
  background-color: #000;
  height: 100%;
}
header {
  width: 100%;
  background-color: transparent;
  height: 80px;
  padding-top: 10px;
  padding-left: 20px;
}
header .header1 {
  color: white;
  font-size: 40px;
}
header .title {
  color: #6a0dad;
}

section {
  width: 80%;
  display: grid;
  grid-template-columns: 25% 65%;
  margin-left: 30px;
  margin-top: 10px;
  height: 75%;
  justify-content: center;
}

section .grid-item-filter {
  background-color: #333333;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


section .grid-item-filter h2 {
  font-size: large;
  color: #c291f3;
  padding-left: 38px;
}

section .grid-item-filter li {
  font-size: medium;
  color: #c0bec2;
  list-style-type: none;
  display: flex;
  height: 25px;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}

section .grid-item-filter ul :hover {
  border-radius: 10px;
  background-color: #4a4a4b;
}

#addtaskBtn {
  color: white;
  background-color: #6a0dad;
  padding: 5px;
  border-radius: 15px;
  border: none;
  width: 90px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

i {
  padding-right: 10px;
  color: #c291f3;
}

section .tasks {
  background-color: #333333;
  margin-left: 15px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section .tasks .task1 {
  width: 70%;
  height: 30px;
  border-bottom: 1px solid rgb(44, 44, 44);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 8px;
  background-color: #505050;
  justify-items: center;
}

section .tasks .task1 h3 {
  font-size: medium;
}

.displayTitle {
  display: flex;
  align-items: center;
  margin-top: -7px;
}

.task1 #edit {
  margin-left: auto;
}

#textField {
  display: none;
}

#btn {
  color: white;
  background-color: #6a0dad;
  padding: 5px;
  border-radius: 15px;
  border: none;
  width: 90px;
  height: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(88, 66, 102, 0.4);
  margin: auto;
  align-self: center;
}

.modal-content {
  /* background-color: #fefefe; */
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
}

.modal-add {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(88, 66, 102, 0.4);
  margin: auto;
  align-self: center;
}

.todobox {
  /* background-color: #fefefe; */
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
}
#editTaskForm, #taskForm{
    display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

 h2{ 
  color: white;
  align-self: center;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 80%; /* Adjust width as needed */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

input:focus {
  border-color: #6a0dad;
  outline: none; /* Remove default browser outline */
  box-shadow: 0 0 5px #322c36; /* Add a shadow on focus */
}

#cancelTask, #cancelEditTask, #submitEditTask,#submitTask  {
  color: white;
  background-color: #6a0dad;
  padding: 5px;
  border-radius: 15px;
  border: none;
  width: 80%;
  height: 40px;
  margin-top: 5px;
  display: inline;
}

.active-filter {
  background-color: #242124;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  section {
    grid-template-columns: 100%; 
  }

  .grid-item-filter {
    grid-column: 1 / span 1; 
    margin-bottom: 10px; 
    display: none;
  }

  .tasks {
    grid-column: 1 / span 1;
    width: 100%;
    justify-self:center;
  }
}

.fa-bars {
  position: relative;
  top: 0;
  left: 0;
  font-size: 24px; /* Example font size */
}